{% extends 'base.html' %} {% load static %}

{% block content %}
<style>
    /* .mybody p {
        height: 30px;
    }

    .mybody h5 {
        height: 55px;
    } */
   
</style>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card cards card-sm shadow" style="border-radius: 5px; ">
                <div class="card-body ">
                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <span class="d-block font-15 text-dark font-weight-500">MY ASSESMENTS</span>
                        </div>
                        <div>
                            <span class="text-success font-21 font-weight-500">
                                <i class="material-icons" style="color: #132649;">assignment</i>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="d-block font-15 text-dark font-weight-500 mb-0">9 / 12</span>
                        </div>
                        <div>
                            <button class="font-14 font-weight-500 btn btn-sm" style="background-color: #132649; color: white;">Result</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card cards card-sm shadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <span class="d-block font-15 text-dark font-weight-500">MY WORKSHEETS</span>
                        </div>
                        <div>
                            <span class="text-success font-21 font-weight-500">
                                <i class="glyphicon glyphicon-file " style="color: #132649;"></i>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="d-block font-15 text-dark font-weight-500 mb-0">39 / 50</span>
                        </div>
                        <div>
                            <button class="font-14 font-weight-500 btn btn-sm" style="background-color: #132649; color: white;">Result</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 ">
            <div class="card cards card-sm shadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <span class="d-block font-15 text-dark font-weight-500">MY QUIZES</span>
                        </div>
                        <div>
                            <span class="text-success font-21 font-weight-500"><i class="fa fa-question-circle " style="color: #132649;"></i></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="d-block font-15 text-dark font-weight-500 mb-0">13 / 20</span>
                        </div>
                        <div>
                            <button class="font-14 font-weight-500 btn btn-sm " style="background-color: #132649; color: white;">Result</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card cards card-sm shadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <span class="d-block font-15 text-dark font-weight-500">MY JOBS</span>
                        </div>
                        <div>
                            <span class="text-success font-21 font-weight-500"><i class="fa fa-briefcase" style="color: #132649;"></i>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="d-block font-15 text-dark font-weight-500 mb-0">1</span>
                        </div>
                        <div>
                            <button class="font-14 font-weight-500 btn btn-sm " style="background-color: #132649; color: white;">Result</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid m-0">
            <div class="hk-pg-header mt-2 mb-2">
                <h4 class="hk-pg-title"><i class="fa fa-book"></i> &nbsp;My Courses</h4>
            </div>
            <section class="hk-sec-wrapper">
                <div class="row mb-3 ">
        
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card w-100 cards shadow ">
                            <img class="img-top" src="{% static 'img/3.jpg' %}" alt="Card image cap" />
                            <div class="card-body mybody">
                                <div>
                                    <h5 class="card-title">Python Programming</h5>
                                </div>
                                <div>
                                    <span>Level: <span class="text-info">Beginner</span></span>
                                </div>
                                <div class="mt-2">
                                    <span class="card-text text-info">2 days left</span>

                                </div>
                            </div>
                            <!-- <hr class="p-0 w-75 m-auto"> -->
                            <div class="card-footer">
                                <a href="{% url 'my_course_video1'%}" class="btn btn-info btn-sm text-white mt-2 float-start" style="text-decoration: none;">Continue Watching
                                    
                                </a>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="card w-100 cards  shadow">
                            <img class="img-top" src="{% static 'img/3.jpg' %}" alt="Card image cap" />
                            <div class="card-body mybody">
                                <div>
                                    <h5 class="card-title">Web Development</h5>
                                </div>
                                <div>
                                    <span>Level: <span class="text-info">Beginner</span></span>
                                </div>
                                <div class="mt-2">
                                    <span class="card-text text-danger">Expired</span>

                                </div>
                            </div>
                            <!-- <hr class="p-0 w-75 m-auto"> -->
                            <div class="card-footer">
                                <a href="" class="mt-2 btn text-white btn-sm float-start" style="text-decoration: none; background-color: rgb(19, 38, 73) ">Purchase Again
                                    &nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}