{% extends 'base.html' %}
{% load static %}
{% block title %} <title> Job Details </title> {% endblock %}

{% block content %}

<style>
    .skills p{
        background-color: #132649;
        color: white;
        border-radius: 15px;
        /* font-size: smaller; */
    }
    .list-group li{
        border: none ;
        color: #132649;
    }
   
</style>

<div>
    <nav class="navbar mt-3 mb-2">
        <ul class=" nav justify-content-end">
            <li class="breadcrumb-item">
                <a class="" aria-current="page" href="">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a class="" href="{% url 'applied_jobs' %}">My Jobs</a>
            </li>

            <li class="breadcrumb-item active">
                Job Details
            </li>
        </ul>
    </nav>
</div>
<!-- Container -->

<div class="m-3">
    <div class="container-fluid rounded" style="background-color: #132649; color: white;">
        <!-- Row -->
        <div class="row">
            <div class="col-xl-12">
                <div class="container-fluid">
                    <div class="hk-row p-2">
                        <div class="col-md-12 col-lg-12 media-body">
                        
                            <div class="row d-flex">
                               <!-- <div class=" p-0">
                                <img class=" align-self-start" height="100px" width="auto"
                                src="../../static/images/logo/qt_instance.png" alt="Generic placeholder image">
                               </div> -->
                                <div class="float-start pl-3">
                                    <h1 class=" text-white mb-15 mt-2">Associate Python Developer</h1>
                                <h5 class="text-white">Job ID: #259638</h5>
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="m-3">
    <div class="container-fluid m-1">
        <!-- Row -->
        <div class="row">
            <div class="col-xl-12">
                <div class="container-fluid py-4 p-0">
                    <div class="row">
                        <!-- Job Description and Responsibilities -->
                        <!-- <div class="col-xl-8 ">
                            <div class="card shadow ">
                                <h6 class="card-header border-bottom-0"
                                    style="background-color: #132649; color: white;">
                                    Job Description
                                </h6>
                                <div class="">
                                    <div class="card-header d-flex justify-content-between activestate">
                                        <p>
                                            Troubleshoot, test and maintain the core product software and databases to
                                            ensure strong optimization and functionality
                                            Contribute in all phases of the development lifecycle
                                            Follow industry best practices
                                            Develop and deploy new features to facilitate related procedures and tools
                                            if
                                            necessary.

                                        </p>
                                    </div>

                                </div>
                            </div>
                            <h6 class="card-header border-bottom-0" style="background-color: #132649; color: white;">
                                Requirements
                            </h6>

                            <div class="card shadow ">
                                <div class="card-body px-4 py-2">
                                    <span>
                                        <h6 style="color: #132649;" class="mb-0 mt-2">Role: </h6>
                                    </span>
                                    <span>
                                        <p class="m-0">Associate Python Developer</p>
                                    </span>

                                    <span>
                                        <h6 style="color: #132649;" class="mb-0 mt-2">Skills Required: </h6>
                                    </span>
                                    <span>
                                        <p class="m-0">Working with backend web framework such as Django, and familier with database
                                            such as MySQL, MS SQL.</p>
                                    </span>

                                    <span>
                                        <h6 style="color: #132649;" class="mb-0 mt-2">Qualification:</h6>
                                    </span>
                                    <span>B.E/B.Tech/M.S/M.Tech</span>
                                </div>
                            </div>
                        </div> -->

                        <!-- Category-->
                        <!-- <div class="col-xl-4 m-0">
                            <div class="card  shadow">
                                <h6 class="card-header" style="background-color: #132649; color: white;">
                                    Job Info
                                </h6>
                                <div class="card-body m-0 p-0">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-3 py-0 d-flex align-items-center ">
                                            <i class="ion ion-md-sunny mr-15"></i>Terms & conditions
                                            <p class=" py-2 m-0" style="color: #132649;">Company: QTLines</p>
                                        </li>
                                        <li class="list-group-item px-3 py-0 d-flex align-items-center ">
                                            <p class="py-2 m-0" style="color: #132649;">Experience : 0-1 year</p>
                                        </li>
                                        <li class="list-group-item px-3 py-0 d-flex align-items-center">
                                            <p class="py-2 m-0 " style="color: #132649;">Location :
                                                <i class="fa fa-map-marker"></i>&nbsp;Hyderabad,Telangana
                                            </p>
                                        </li>
                                     
                                    </ul>
                                </div>
                            </div>

                            <div class="card">
                                <h6 class="card-header" style="background-color: #132649; color: white;">HR Details</h6>
                                <div class="card-body m-0 p-0">
                                    <ul class="list-group">
                                        <li class="list-group-item px-3 py-0 d-flex align-items-center">
                                            <p class="py-2 m-0" style="color: #132649;">Name: Sunil Narine</p>
                                        </li>
                                        <li class="list-group-item px-3 py-0 d-flex align-items-center">
                                            <p class="py-2 m-0" style="color: #132649;">Email: sunil01@gmail.com</p>
                                        </li>
                                        <li class="list-group-item px-3 py-0 d-flex align-items-center">
                                            <p class="py-2 m-0" style="color: #132649;">Phone: 9632587410</p>
                                        </li>
                                        <li class="list-group-item px-3 py-0 d-flex align-items-center">
                                            <p class="py-2 m-0" style="color: #132649;">Branch: Madhapur</p>
                                        </li>
                                    </ul>
                                </div>
                            </div> 
                        </div> -->
                       
                        <!-- New Job Description and Responsibilities -->
                        <div class="col-lg-9 p-0">
                            <div class="card" style="border: none;">
                                <h4 class="card-header p-0 p-2 pt-3 pb-2">Skills</h4>
                                <div class="skills card-body p-0 d-flex">
                                    <p class="m-1 p-2 px-2 badge ">Python</p>
                                    <p class="m-1 p-2 px-2 badge ">Django</p>
                                    <p class="m-1 p-2 px-2 badge ">HTML</p>
                                    <p class="m-1 p-2 px-2 badge ">CSS</p>
                                    <p class="m-1 p-2 px-2 badge ">JavaScript</p>
                                    <p class="m-1 p-2 px-2 badge ">MySQL</p>
                                    <p class="m-1 p-2 px-2 badge ">Bootstrap</p>
                                    <p class="m-1 p-2 px-2 badge ">JIRA</p>
                                    <p class="m-1 p-2 px-2 badge ">GitHub</p>
                                    <p class="m-1 p-2 px-2 badge ">jQuery</p>
                                    <p class="m-1 p-2 px-2 badge ">REST API</p>
                                </div>
                                <!-- Job Description -->
                                <h4 class="card-header p-2 pt-3 pb-2 ">Job Description</h4>
                                <div class="jobdescription card-body  p-0">
                                    <p class="px-2 m-0">
                                        Troubleshoot, test and maintain the core product software and databases to
                                        ensure strong optimization and functionality
                                        Contribute in all phases of the development lifecycle
                                        Follow industry best practices
                                        Develop and deploy new features to facilitate related procedures and tools
                                        if
                                        necessary.
                                    </p>
                                </div>
                                <!-- Roles and Responsibilities -->
                                <h4 class="card-header p-2 pt-3 pb-2 ">Roles & Responsibilities</h4>
                                <div class="jobdescription  card-body p-0">
                                    <div class="px-4 py-1">
                                        <ul class="list-group">
                                            <li style="list-style: disc;"><p class="m-0">Create intuitive and visually appealing interfaces using HTML, CSS, and JavaScript frameworks (e.g., React, Angular, Vue.js).</p></li>
                                            <li style="list-style: disc;"><p class="m-0">Ensure the web application works across various devices and screen sizes.</p></li>
                                            <li style="list-style: disc;"><p class="m-0">Improve the usability and functionality of the web application to provide a better user experience.</p></li>
                                            <li style="list-style: disc;"><p class="m-0">Design, manage, and query databases (SQL or NoSQL) using ORM tools like SQLAlchemy or Django ORM.</p></li>
                                            <li style="list-style: disc;"><p class="m-0">Set up and manage CI/CD pipelines to automate the testing and deployment processes.</p></li>
                                            <li style="list-style: disc;"><p class="m-0">Proficiency in Python for back-end development and JavaScript (along with frameworks) for front-end development.</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <!-- Category -->
                        <div class="col-lg-3">
                            <div class="card" style="border: none;">
                                <h4 class="card-header p-2">Job Info</h4>
                                <div class="card-body p-0">
                                    <ul class="list-group">
                                        <li class="list-group-item p-2"><p class="mb-0"><b>Company </b>: Infosys</p></li>
                                        <li class="list-group-item p-2"><p class="mb-0"><b>Experience </b>: 0 - 1 year</p></li>
                                        <li class="list-group-item p-2"><p class="mb-0"><b>Salary </b>: 45000 / month</p></li>
                                        <li class="list-group-item p-2"><p class="mb-0"><b>Location </b>: <i class="fa fa-map-marker"></i> Hyderabad / Telangana </p></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="card" style="border: none;">
                                <h4 class="card-header p-2">HR Details</h4>
                                <div class="card-body p-0">
                                    <ul class="list-group">
                                        <li class="list-group-item p-2"><p class="mb-0"><b>Name </b>: Peter Parker</p></li>
                                        <li class="list-group-item p-2"><p class="mb-0"><b>Email</b>: peter@mgail.com </p></li>
                                        <li class="list-group-item p-2"><p class="mb-0"><b>Branch </b>: <i class="fa fa-map-marker"></i> Madhapur</p></li>
                                        <li class="list-group-item p-2"><p class="mb-0"><b>Phone No </b>:  7896541230 </p></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm d-flex justify-content-center mt-2 mb-2">
                            <div class="button-list">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn m-0" style="background-color: #132649; color: white;"
                                    data-toggle="modal" data-target="#exampleModalLarge01">
                                    Apply
                                </button>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalLarge01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLarge01"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content pr-6 pl-6 pd-12  pt-12" style="font-size: 16px;">
            <div class="modal-header" style="background-color: #132649;">
                <h5 class="modal-title text-center text-white">Python Developer</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-0 p-0">
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper mb-0 px-2 py-1">
                            <!-- <h5 class="hk-sec-title">Python Developer</h5> -->
                            <!-- <p class="mb-25">More complex forms can be built using the grid classes. Use these for form layouts that require multiple columns, varied widths, and additional alignment options.</p> -->
                            <div class="row">
                                <div class="col-sm">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label for="firstName">Job ID:</label>
                                                <input class="form-control" name="" id="" type="text" placeholder="984">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="lastName">Company name:</label>
                                                <input name="" placeholder="QT Lines" class="form-control" id="" type="text">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label for="firstName">Experience:</label>
                                                <input class="form-control" id="" placeholder="0-1 Year" type="text">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="lastName">Location:</label>
                                                <input name="" placeholder="Hyderabad" class="form-control" id=""
                                                    type="text">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label for="firstName">First name:</label>
                                                <input name="" placeholder="Madelyn" class="form-control" id="firstName"
                                                    placeholder="" type="text">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="lastName">Last name:</label>
                                                <input name="" placeholder="Shane" class="form-control" id=""
                                                    type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input name="" placeholder="madelyns991@gmail.com" class="form-control"
                                                id="" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label for="phone_number">Phone Number:</label>
                                            <input name="" placeholder="9090909090" class="form-control" id=""
                                                type="text">

                                            <div class="form-group">
                                                <label for="address">Address:</label>
                                                <input name="" placeholder="256 2nd st. " class="form-control" id=""
                                                    type="text">
                                            </div>

                                            <button type="button" class="btn" style="background-color: #132649; color: #fff;">Submit</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}