{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    #nav1 {
        padding: 2px;
        margin-left: 5px;
        margin-right: 15px;
    }
</style>
<style>
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background-color: #132649 !important;
        /* Change this color to your desired color */
        color: white !important;
    }

    .mybtn {
        font-size: 14px;
    }
</style>
<!-- nav bar start here -->
<!-- <div class="card bg-sky-dark-5 " id="nav1"> 
     <div class="col-12 col-sm-12 col-lg-12 " >
         <nav class="navbar bg-sky-dark-5 rounded" id="nav1">
             <div class="container-fluid">
               <a href="" class="navbar-brand text-white">Lectures</a>
               <div class="d-flex offset-md-5">
                 <a href="#" class="text-white" style="text-decoration: none;">Dashboard/</a>
                 <a href="{% url 'my_course1' %}" class="text-white" style="text-decoration: none;">Back</a>
               </div>
               
             </div>
           </nav>
         
     </div>
 </div>   -->
<!-- nav bar ends here    -->


<style>
    .question {
        display: none;
    }

    .question.active {
        display: block;
    }

    .rows {
        margin: 0 !important;
    }

    .accordion .card .card-header>a {
        background-color: #132649;
        color: #fff;
    }
    a {
    color: #132649;
    }
</style>
<div>
    <div class="container-fluid mt-xl-50 mt-sm-30 mt-15">
        <div class="row">
            <div class="col-md-12">
                <div class="hk-row m-1">
                    <div class="col-lg-3">
                        <!-- Course Curriculum Accordion -->

                        <div class="card shadow-lg  bg-body-tertiary rounded" id="accordian2">
                            <div class="card-body col-lg-12">
                                <h4><span><i class="icon" data-icon="y"></i></span>&nbsp;Course Content</h4>
                                <div class="accordion" id="accordion_1">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between"
                                            style="background-color: #132649; ">
                                            <a role="button" style="background-color: #132649; color: white;"
                                                data-toggle="collapse" href="#collapse" aria-expanded="false"
                                                class="collapsed text-white">Section:1 - Core
                                                Python</a>
                                        </div>
                                        <div class="card collapse" id="collapse">
                                            <div class="card-header d-flex justify-content-between">
                                                <a role="button" data-toggle="collapse" href="#collapse_1"
                                                    aria-expanded="false" class="collapsed">Introduction</a>
                                            </div>
                                            <div id="collapse_1" class="collapse" data-parent="#accordion_1"
                                                role="tabpanel" style="">
                                                <div class="card-body pa-15 m-0 p-0">
                                                    <ul class="list-group-flush mb-0">
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="6i3EGqOBRiU"
                                                                data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 1.
                                                                Introduction to Python
                                                            </a>
                                                            <h6 class="ps-3 text-primary">3:34</h6>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="La1BdF_sunw"
                                                                data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 2.
                                                                Download and Install Python
                                                            </a>
                                                            <h6 class="ps-3 text-primary">13:58</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card collapse" id="collapse">
                                            <div class="card-header d-flex justify-content-between">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse_2" aria-expanded="false">Print Function and String
                                                    Concatination</a>
                                            </div>
                                            <div id="collapse_2" class="collapse" data-parent="#accordion_1">
                                                <div class="card-body m-0 p-0">
                                                    <ul class="list-group-flush mb-0">
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="6Nu9cvINQLk"
                                                                data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i>
                                                                3.Print Function and String Concatination</a>
                                                            <h6 class="ps-3 text-primary">3:34</h6>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card collapse" id="collapse">
                                            <div class="card-header d-flex justify-content-between">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse_3" aria-expanded="false">Variables</a>
                                            </div>
                                            <div id="collapse_3" class="collapse" data-parent="#accordion_1">
                                                <div class="card-body m-0 p-0">
                                                    <ul class="list-group-flush mb-0">
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="a43BIxiZ5EM"
                                                                data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i>
                                                                4.Variables</a>
                                                            <h6 class="ps-3 text-primary">15:10</h6>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="Vn4RuZ4Y2M0"
                                                                data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i>
                                                                5.Variables Naming Rules </a>
                                                            <h6 class="ps-3 text-primary">8:25</h6>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card collapse" id="collapse">
                                            <div class="card-header d-flex justify-content-between">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse_4" aria-expanded="false">DataTypes</a>
                                            </div>
                                            <div id="collapse_4" class="collapse" data-parent="#accordion_1">
                                                <div class="card-body p-0 m-0 ">
                                                    <ul class="list-group-flush mb-0">
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="TTepNRy0wj8"
                                                                data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i>
                                                                6.Datatypes </a>
                                                            <h6 class="ps-3 text-primary">23:54</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card collapse" id="collapse">
                                            <div class="card-header d-flex justify-content-between">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse_5" aria-expanded="false">Operators</a>
                                            </div>
                                            <div id="collapse_5" class="collapse" data-parent="#accordion_1">
                                                <div class="card-body pa-15 m-0 p-0">
                                                    <ul class="list-group-flush mb-0">
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="kvVPeBBZdtM"
                                                                data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i>
                                                                7.Arithmetic Operators
                                                            </a>
                                                            <h6 class="ps-3 text-primary">15:01</h6>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="ELNIUknegOE"
                                                                data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i>
                                                                8.Assignment Operators</a>
                                                            <h6 class="ps-3 text-primary">14:16</h6>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="XbjQ-heGd58"
                                                                data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i>
                                                                9.Bitwise Operators </a>
                                                            <h6 class="ps-3 text-primary">17:11</h6>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="BG3lg589HRE"
                                                                data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i>
                                                                10.Identity Operators </a>
                                                            <h6 class="ps-3 text-primary">20:27</h6>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="MHl0Jj15crA"
                                                                data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i>
                                                                11.Membership Operators </a>
                                                            <h6 class="ps-3 text-primary">9:27</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="accordion" id="accordion_2">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between"
                                            style="background-color: #132649; ">
                                            <a role="button" style="background-color: #132649; color: white;"
                                                data-toggle="collapse" href="#collapse12" aria-expanded="false"
                                                class="collapsed text-white">Section:2 - Advanced Python</a>
                                        </div>

                                        <div class="card collapse" id="collapse12">
                                            <div class="card-header d-flex justify-content-between">
                                                <a role="button" data-toggle="collapse" href="#collapse_6"
                                                    aria-expanded="false" class="collapsed">OOPs</a>
                                            </div>
                                            <div id="collapse_6" class="collapse" data-parent="#accordion_2"
                                                role="tabpanel">
                                                <div class="card-body pa-15 m-0 p-0">
                                                    <ul class="list-group-flush mb-0">
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="Ic7ZBKqkS1E"
                                                                data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 1.
                                                                OOPs
                                                            </a>
                                                            <h6 class="ps-3 text-primary">22:24</h6>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card collapse" id="collapse12">
                                            <div class="card-header d-flex justify-content-between">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse_7" aria-expanded="false">Class</a>
                                            </div>
                                            <div id="collapse_7" class="collapse" data-parent="#accordion_2">
                                                <div class="card-body m-0 p-0">
                                                    <ul class="list-group-flush mb-0">
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="Gvm2Sg1rZek"
                                                                data-video-time="0" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 2.
                                                                Class Object
                                                            </a>
                                                            <h6 class="ps-3 text-primary">17:06</h6>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="tJNsmm7ZUmk"
                                                                data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 3.
                                                                Class Methods</a>
                                                            <h6 class="ps-3 text-primary">20:49</h6>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card collapse" id="collapse12">
                                            <div class="card-header d-flex justify-content-between">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse_8" aria-expanded="false">Types of Inheritance</a>
                                            </div>
                                            <div id="collapse_8" class="collapse" data-parent="#accordion_2">
                                                <div class="card-body m-0 p-0">
                                                    <ul class="list-group-flush mb-0">
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="4SO3sScshvA"
                                                                data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 4.
                                                                Inheritance</a>
                                                            <h6 class="ps-3 text-primary">27:20</h6>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="Smlbgao6VL4"
                                                                data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 5.
                                                                Mutiple Inheritance</a>
                                                            <h6 class="ps-3 text-primary">27:46</h6>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="Fv1xFd3LzJo"
                                                                data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 6.
                                                                Multilevel Inheritance</a>
                                                            <h6 class="ps-3 text-primary">21:11</h6>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="UYxJBJQZU-I"
                                                                data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 7.
                                                                Hierarchical Inheritance</a>
                                                            <h6 class="ps-3 text-primary">17:08</h6>
                                                        </li>
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="E6aDQWX-ASc"
                                                                data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 8.
                                                                Hybrid Inheritance</a>
                                                            <h6 class="ps-3 text-primary">10:45</h6>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card collapse" id="collapse12">
                                            <div class="card-header d-flex justify-content-between">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse_9" aria-expanded="false">File Handling</a>
                                            </div>
                                            <div id="collapse_9" class="collapse" data-parent="#accordion_2">
                                                <div class="card-body p-0 m-0 ">
                                                    <ul class="list-group-flush mb-0">
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="Sx1Hjr67xO0"
                                                                data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i> 9.
                                                                File Handling</a>
                                                            <h6 class="ps-3 text-primary">45:32</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card collapse" id="collapse12">
                                            <div class="card-header d-flex justify-content-between">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse_10" aria-expanded="false">Abstract Class and
                                                    Abstract Method</a>
                                            </div>
                                            <div id="collapse_10" class="collapse" data-parent="#accordion_2">
                                                <div class="card-body p-0 m-0 ">
                                                    <ul class="list-group-flush mb-0">
                                                        <li class="list-group-item d-flex justify-content-between">
                                                            <a class="video-link" href="#" data-video-src="64tJdFVh1Vs"
                                                                data-video-time="0m0s" style="text-decoration: none;">
                                                                <i class="ion ion-md-arrow-dropright-circle"></i>
                                                                10.Abstract Class & Abstract Method</a>
                                                            <h6 class="ps-3 text-primary">26:38</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="card col-lg-9 h-100 " style="height: 500px;" id="accordian1">
                        <!-- Placeholder for YouTube Video -->
                        <div id="videoPlayer" class="mt-2" style="width: 100%; height: 500px;">
                            <div id="videoPlayerContent" style=""></div>
                        </div>
                        <div class="mt-3">
                            <ul class="nav nav-pills p-2 mt-1" style="background-color: #f7f5f5;" role="tablist">
                                <li class="nav-item ">
                                    <button type="button" class="nav-link active btn mybtn" data-toggle="tab"
                                        data-target="#description" role="tab" aria-controls="description"
                                        aria-selected="true">Description</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link btn mybtn" data-toggle="tab" data-target="#quiz" role="tab"
                                        aria-controls="quiz" aria-selected="false">My Quiz</a>
                                </li>

                                <li class="nav-item">
                                    <!-- <button type="button" class="nav-link btn btn-sm" data-toggle="tab" data-target="#worksheet" role="tab" aria-controls="worksheet" aria-selected="false">My Worksheet</button> -->
                                    <button class="nav-link btn mybtn" data-toggle="tab" data-target="#worksheet"
                                        role="tab" aria-controls="worksheet" aria-selected="false">My Worksheet</button>
                                </li>

                            </ul>

                        </div>
                        <div class="tab-content card mt-2" id="MyTabContent">
                            <div class="tab-pane card-body show active" id="description" role="tabpanel"
                                aria-labelledby="description-tab">
                                <div class="description-tab-content">
                                    <div class="description-overview">

                                        <p>Python is a high-level, dynamic programming language with a simple and
                                            readable syntax.
                                            Its standard library includes modules and functions for various tasks,
                                            making it a versatile and powerful language for a wide range of
                                            applications.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane card-body show fade" id="quiz" role="tabpanel"
                                aria-labelledby="quiz-tab">
                                <div class="quiz-tab-content">
                                    <div class="quiz-overview">
                                        <p>This is a quiz panel</p>
                                        <button id="takeQuizButton" data-target="#myquiz" role="tab"
                                            aria-controls="myquiz" aria-selected="false"
                                            class="btn myquizbtn btn-sm offset-5" type="button"
                                            style="background-color: #132649; color: white;">Take Quiz</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane card-body show fade" id="worksheet" role="tabpanel"
                                aria-labelledby="worksheet-tab">
                                <div class="worksheet-tab-content">
                                    <div class="worksheet-overview ">
                                        <p>This is a Worksheet panel</p>
                                        <a href="{% url 'myworksheet' %}" class="btn btn-sm offset-5"
                                            style="background-color: #132649; color: white;">Take Worksheet</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane card-body show fade" id="quiz" role="tabpanel"
                                aria-labelledby="quiz-tab">
                                <div class="quiz-tab-content">
                                    <div class="quiz-overview">
                                        <div class="myquiz-tab-content">
                                            <div class="myquiz-overview">
                                                <div id="quiz-container" style="height: 500px;" class="card m-0 mt-3">
                                                    <div class="card-body question active" id="question-1">
                                                        <h5>Question 1: Which datatype allows key and value pairs</h5>
                                                        <ul class="options">
                                                            <li><input type="radio" name="q1" value="paris"> List</li>
                                                            <li><input type="radio" name="q1" value="london"> Tuple</li>
                                                            <li><input type="radio" name="q1" value="berlin"> Dictionary
                                                            </li>
                                                            <li><input type="radio" name="q1" value="rome"> Set</li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-body question" id="question-2">
                                                        <h5>Question 2: What is the max size of byte datatype</h5>
                                                        <ul class="options">
                                                            <li><input type="radio" name="q2" value="elephant"> 8</li>
                                                            <li><input type="radio" name="q2" value="giraffe"> 128</li>
                                                            <li><input type="radio" name="q2" value="rhino"> 256</li>
                                                            <li><input type="radio" name="q2" value="hippo"> 512</li>
                                                        </ul>
                                                    </div>
                                                    <!-- Add more questions as needed -->
                                                    <div class="card-footer m-0 p-2 d-flex justify-content-between">
                                                        <button id="prev-btn" class="btn btn-info btn-sm"
                                                            onclick="previousQuestion()">Previous</button>
                                                        <button id="next-btn" class="btn btn-dark btn-sm"
                                                            onclick="nextQuestion()">Next</button>
                                                    </div>
                                                </div>
                                                <!-- Add other quiz cards -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Quiz Questions End Here -->
                            <div class="tab-pane card-body show fade" id="myworksheet" role="tabpanel"
                                aria-labelledby="myworksheet-tab">
                                <div class="myworksheet-tab-content">
                                    <div class="myworksheet-overview">
                                        <div class="d-flex">
                                            <div class="card  col-4 mr-2" style="height: 300px;">
                                                <p>1. What is use of decorator in Python ?</p>
                                            </div>

                                            <div class="form-group col-8">
                                                <textarea id="worksheet_answer" name="worksheet_answer"></textarea>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="card col-4 mr-2" style="height: 300px;">
                                                <p>1. What is use of decorator in Python ?</p>
                                            </div>

                                            <div class="form-group col-8">
                                                <textarea id="worksheet_answer" name="worksheet_answer"></textarea>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="card col-4 mr-2" style="height: 300px;">
                                                <p>1. What is use of decorator in Python ?</p>
                                            </div>

                                            <div class="form-group col-8">
                                                <textarea id="worksheet_answer" name="worksheet_answer"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    document.getElementById('takeQuizButton').addEventListener('click', function () {
        // Get the video player content element
        var videoPlayerContent = document.getElementById('videoPlayerContent');

        // Create a new div to hold the quiz container
        var quizContainerDiv = document.createElement('div');
        quizContainerDiv.innerHTML = document.getElementById('quiz-container').outerHTML;

        // Replace the content of video player with the quiz container
        videoPlayerContent.innerHTML = '';
        videoPlayerContent.appendChild(quizContainerDiv);

        // Show the "Next" button
        document.getElementById('next-btn').style.display = 'block';
    });
</script>
<script>
    var currentQuestion = 1;
    var totalQuestions = document.querySelectorAll('.question').length;

    function nextQuestion() {
        var currentQuestionElement = document.getElementById('question-' + currentQuestion);
        currentQuestionElement.classList.remove('active');

        currentQuestion++;
        if (currentQuestion > totalQuestions) {
            alert('Quiz completed!');
            return;
        }

        var nextQuestionElement = document.getElementById('question-' + currentQuestion);
        nextQuestionElement.classList.add('active');
    }

    function previousQuestion() {
        var currentQuestionElement = document.getElementById('question-' + currentQuestion);
        currentQuestionElement.classList.remove('active');

        currentQuestion--;
        if (currentQuestion < 1) {
            currentQuestion = 1; // Make sure currentQuestion doesn't go below 1
        }

        var previousQuestionElement = document.getElementById('question-' + currentQuestion);
        previousQuestionElement.classList.add('active');
    }
</script>

<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    // Function to load YouTube video
    function loadYouTubeVideo(videoSrc, videoTime) {
        // Replace the content of the videoPlayer div with the iframe tag for the YouTube video
        $('#videoPlayer').html('<iframe width="100%" height="500px" src="https://www.youtube.com/embed/' + videoSrc + '?autoplay=1&start=' + videoTime + '" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
    }

    $(document).ready(function () {
        $(".video-link").click(function (event) {
            event.preventDefault();
            var videoSrc = $(this).data("video-src");
            var videoTime = $(this).data("video-time");
            loadYouTubeVideo(videoSrc, videoTime);
        });
    });
</script>
{% endblock %}