{% extends 'base.html' %}
{% block content %}
<!-- Container -->
<div class="container-fluid m-0">

    <!-- Title -->
    <div class="hk-pg-header mt-3 mb-2">
        <h4 class="hk-pg-title"><i class="glyphicon glyphicon-time"></i>&nbsp;Schedules</h4>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            <table  class="table table-hover table-expandable mt-2 w-100  pb-30 table-bordered">
                                <thead class="text-center">
                                    <tr style="background-color: #132649;">
                                        <th class="text-white">S.No</th>
                                        <th class="text-white">Course</th>
                                        <th class="text-white">Date</th>
                                        <th class="text-white">Day</th>
                                        <th class="text-white">Start Time</th>
                                        <th class="text-white">End Time</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td>1</td>
                                        <td>Django</td>
                                        <td>01/04/2024</td>
                                        <td>Monday</td>
                                        <td class="text-primary">10:30 AM</td>
                                        <td class="text-red">12:00 PM</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Python</td>
                                        <td>01/04/2024</td>
                                        <td>Monday</td>
                                        <td class="text-primary">12:00 PM</td>
                                        <td class="text-red">1:30 PM</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Front End</td>
                                        <td>01/04/2024</td>
                                        <td>Monday</td>
                                        <td class="text-primary">2:30 PM</td>
                                        <td class="text-red">4:00 PM</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Django</td>
                                        <td>02/04/2024</td>
                                        <td>Tuesday</td>
                                        <td class="text-primary">10:30 AM</td>
                                        <td class="text-red">12:00 PM</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Django</td>
                                        <td>03/04/2024</td>
                                        <td>Wednesday</td>
                                        <td class="text-primary">10:30 AM</td>
                                        <td class="text-red">12:00 PM</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Django</td>
                                        <td>04/04/2024</td>
                                        <td>Thursday</td>
                                        <td class="text-primary">10:30 AM</td>
                                        <td class="text-red">12:00 PM</td>
                                    </tr>

                                    <tr>
                                        <td>5</td>
                                        <td>Django</td>
                                        <td>05/04/2024</td>
                                        <td>Friday</td>
                                        <td class="text-primary">10:30 AM</td>
                                        <td class="text-red">12:00 PM</td>
                                    </tr>

                                    <tr>
                                        <td>6</td>
                                        <td>Django</td>
                                        <td>06/04/2024</td>
                                        <td>Saturday</td>
                                        <td class="text-primary">10:30 AM</td>
                                        <td class="text-red">12:00 PM</td>
                                    </tr>

                                    <tr>
                                        <td>7</td>
                                        <td>Django</td>
                                        <td>07/04/2024</td>
                                        <td>Sunday</td>
                                        <td class="text-primary">10:30 AM</td>
                                        <td class="text-red">12:00 PM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /Row -->

</div>
<!-- /Container -->

{% endblock %}