{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <nav class="navbar mt-3 ">
        <h5>Profile</h5>
        <ul class="nav float-right justify-content-end ">
            <li class="breadcrumb-item">
                <a class="" aria-current="page" href="{% url 'dash' %}">Home</a>&nbsp;&nbsp;
            </li>
            <!-- <li class="breadcrumb-item">
                <a class="" href="{% url 'my_courses' %}">My Courses</a>
              </li>
              
              <li class="breadcrumb-item active">
                Mocks
              </li> -->
        </ul>
    </nav>
</div>
<div class="container-fluid ">
    <div class="row">
        <div class="col-xl-12 pa-0">
            <div class="profile-cover-wrap overlay-wrap m-3">
                <div class="profile-cover-img" style="background-image:url('../../static/dist/img/bg1.jpg')"></div>
                <div class="bg-overlay bg-trans-dark-60"></div>
                <div class="container profile-cover-content py-50">
                    <div class="hk-row">
                        <div class="col-lg-6">
                            <div class="media align-items-center">
                                <div class="media-img-wrap  d-flex">
                                    <div class="avatar">
                                        <img src="../../static/dist/img/avatar1.jpg" alt="user"
                                            class="avatar-img rounded-circle">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="text-white text-capitalize display-6 mb-1 font-weight-400">
                                        <p class="mb-0" style="font-size: larger;">Cecilia Rios<i
                                                class=" fa fa-check-circle-o text-primary"></i></p>
                                        <p class="mb-0 mt-1 text-white " style="font-size: large;">
                                            Full Stack Python Developer
                                            <br>
                                            Date of joining: April 8th 2024
                                        </p>


                                    </div>
                                    
                                    
                                </div>
                            </div>
                        
                        </div>
                        <!-- <div class="col-lg-12">
                            <div class="button-list ">
                                <a href="{% url 'jobs' %}" class="btn btn-light icon-wthot-bg btn-rounded"><span
                                        class="btn-text">Matched Jobs</span>&nbsp;<span class="icon-label badge bg-info text-white">40</span></a>
                                <a href="{% url 'applied_jobs' %}"
                                    class="btn btn-light icon-wthot-bg btn-rounded"><span class="btn-text">Applied
                                        Jobs</span>&nbsp;<span class="icon-label badge bg-warning">40</span></a>
                                <a href="{% url 'qualified_jobs' %}"
                                    class="btn btn-light icon-wthot-bg btn-rounded"><span
                                        class="btn-text">Qualified Jobs</span>&nbsp;<span class="icon-label badge bg-success text-white"> 30 </span></a>
                                <!-- <a href="#" class="btn btn-icon btn-icon-circle btn-indigo btn-icon-style-2"><span class="btn-icon-wrap"><i class="fa fa-facebook"></i></span></a>
                                            <a href="#" class="btn btn-icon btn-icon-circle btn-sky btn-icon-style-2"><span class="btn-icon-wrap"><i class="fa fa-twitter"></i></span></a>
                                            <a href="#" class="btn btn-icon btn-icon-circle btn-purple btn-icon-style-2"><span class="btn-icon-wrap"><i class="fa fa-instagram"></i></span></a> -->
                    </div>
                </div> 
            </div>
        </div>
    </div>


    <div class="container-fluid p-0">
        <ul class="nav nav-light nav-tabs" role="tablist">
            <li class="nav-item">
                <a href="#" class="nav-link d-flex align-items-center active" id="about-tab" data-toggle="tab"
                    data-target="#about" role="tab" aria-controls="about" aria-selected="true">
                    <span class="d-none d-sm-block">About</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link d-flex align-items-center" id="myjob-tab" data-toggle="tab"
                    data-target="#myjob" role="tab" aria-controls="myjob" aria-selected="false">
                    <span class="d-none d-sm-block">My Job</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link d-flex align-items-center" id="project-tab" data-toggle="tab"
                    data-target="#project" role="tab" aria-controls="project" aria-selected="false">
                    <span class="d-none d-sm-block">Project</span>
                </a>
            </li>
            <!-- <li class="nav-item">
                        <a href="{% url 'profile_project' %}" class="nav-link d-flex align-items-center">
                            <span class="d-none d-sm-block">Project</span>
                            <span class="d-block d-sm-none">Project</span>
                        </a>
                    </li> -->
            <li class="nav-item">
                <a href="#" class="nav-link d-flex align-items-center" id="certification-tab" data-toggle="tab"
                    data-target="#certification" role="tab" aria-controls="certification" aria-selected="false">
                    <span class="d-none d-sm-block">Certifications</span>
                </a>
            </li>
        </ul>

        <div class="tab-content" id="MyTabContent">
            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                <div class="about-tab-content">
                    <div class="about-overview">
                        <div class="container-fluid">
                            <h5 class="mt-3">Profile Details</h5>
                            <section class="hk-sec-wrapper">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered mb-0">
                                            <tbody>
                                                <tr class="text-center"
                                                    style="background-color: #132649; color: white;">
                                                    <th class="ps-0 text-white" scope="row">Student Id :</th>
                                                    <th class="ps-0 text-white" scope="row">Student Name:</th>
                                                    <th class="ps-0 text-white" scope="row">E-mail :</th>
                                                    <th class="ps-0 text-white" scope="row">Mobile No :</th>
                                                    <th class="ps-0 text-white" scope="row">Location :</th>
                                                    <th class="ps-0 text-white" scope="row">Joining Date :</th>
                                                </tr>
                                                <tr>
                                                    <td class=" text-center">24IH508</td>
                                                    <td class=" text-center">venkatasai s</td>
                                                    <td class=" text-center">+(91) 9398024041</td>
                                                    <td class=" text-center">balanagavenkatasai@gmail.com</td>
                                                    <td class=" text-center">Hyderabad, India</td>
                                                    <td class=" text-center">March 27, 2024, 1:22 p.m.
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <h5 class="">Education Qualification</h5>
                            <section class="hk-sec-wrapper">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table align-middle  table-bordered" id="customerTable1">
                                            <thead class="table text-center  mr-2">
                                                <tr class="text-center" style="background-color: #132649;">
                                                    <th class="text-white">Education</th>
                                                    <th class="text-white">School / College Name</th>
                                                    <th class="text-white">Passed Out Year</th>
                                                    <th class="text-white">Percentage</th>
                                                </tr>
                                            </thead>
                                            <tbody align="center" class="list form-check-all">
                                                <tr>
                                                    <td>SSC</td>
                                                    <td>Zepto High School</td>
                                                    <td>2014</td>
                                                    <td>70%</td>
                                                </tr>
                                                <tr>
                                                    <td>Intermediate</td>
                                                    <td>Whatsapp jr College</td>
                                                    <td>2016</td>
                                                    <td>70%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="myjob" role="tabpanel" aria-labelledby="myjob-tab">
                <div class="myjob-tab-content">
                    <div class="myjob-overview">
                        <section class="hk-sec-wrapper mt-3">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
                                        <!--                                        <div class="table-responsive">-->
                                        <table id="datable_1"
                                            class="table table-hover w-100 display pb-30 table-bordered">
                                            <thead>
                                                <tr style="background-color: #132649; color: white;">
                                                    <th class="text-white">ID</th>
                                                    <th class="text-white">Title</th>
                                                    <th class="text-white">Company Name</th>
                                                    <th class="text-white">Location</th>
                                                    <th class="text-white">Category</th>
                                                    <th class="text-white">Experience</th>
                                                    <th class="text-white">Applied date</th>
                                                    <th class="text-white">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>605</td>
                                                    <td><a href="{% url 'job_details' %}">Associate Python Developer</a></td>
                                                    <td>Ramana soft</td>
                                                    <td>Pan India</td>
                                                    <td>IT</td>
                                                    <td>01</td>
                                                    <td>1/1/2024</td>
                                                    <td><span class="badge badge-success">Completed</span></td>
                                                </tr>

                                            </tbody>
                                            <!--                                            <tfoot>-->
                                            <!--                                                <tr>-->
                                            <!--                                                    <th>Name</th>-->
                                            <!--                                                    <th>Position</th>-->
                                            <!--                                                    <th>Office</th>-->
                                            <!--                                                    <th>Age</th>-->
                                            <!--                                                    <th>Start date</th>-->
                                            <!--                                                    <th>Salary</th>-->
                                            <!--                                                </tr>-->
                                            <!--                                            </tfoot>-->
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="project" role="tabpanel" aria-labelledby="project-tab">
                <div class="project">
                    <div class="project-overview">
                        <section class="hk-sec-wrapper mt-3">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-responsive">
                                        <!--                                        <div class="table-responsive">-->
                                        <div id="datable_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="dataTables_length" id="datable_1_length"><label><select
                                                                name="datable_1_length" aria-controls="datable_1"
                                                                class="custom-select custom-select-sm form-control form-control-sm">
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="100">100</option>
                                                            </select>items</label></div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div id="datable_1_filter" class="dataTables_filter"><label><input
                                                                type="search" class="form-control form-control-sm"
                                                                placeholder="Search" aria-controls="datable_1"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="datable_1"
                                                        class="table table-hover w-100 display pb-30 table-bordered dataTable no-footer dtr-inline"
                                                        role="grid" aria-describedby="datable_1_info">
                                                        <thead>
                                                            <tr style="background-color: #132649;" role="row">
                                                                <th class="text-white">S.No</th>
                                                                <th class="text-white">Project Title</th>
                                                                <th class="text-white">Description</th>
                                                                <th class="text-white">Start Date</th>
                                                                <th class="text-white">End Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>


                                                            <tr role="row" class="odd">
                                                                <td>1</td>
                                                                <td>QT Next</td>
                                                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                                                                <td>12/01/2024</td>
                                                                <td>12/06/2024</td>
                                                               
                                                            </tr>

                                                            <tr role="row" class="odd">
                                                                <td>2</td>
                                                                <td>QT Lineone</td>
                                                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                                                                <td>12/01/2024</td>
                                                                <td>12/06/2024</td>
                                                            </tr>
                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="datable_1_info" role="status"
                                                        aria-live="polite">Showing 1 to 1 of 1 entries</div>
                                                </div>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="dataTables_paginate paging_simple_numbers"
                                                        id="datable_1_paginate">
                                                        <ul class="pagination">
                                                            <li class="paginate_button page-item previous disabled"
                                                                id="datable_1_previous"><a href="#"
                                                                    aria-controls="datable_1" data-dt-idx="0"
                                                                    tabindex="0" class="page-link">Previous</a></li>
                                                            <li class="paginate_button page-item active"><a href="#"
                                                                    aria-controls="datable_1" data-dt-idx="1"
                                                                    tabindex="0" class="page-link">1</a></li>
                                                            <li class="paginate_button page-item next disabled"
                                                                id="datable_1_next"><a href="#"
                                                                    aria-controls="datable_1" data-dt-idx="2"
                                                                    tabindex="0" class="page-link">Next</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="certification" role="tabpanel" aria-labelledby="certification-tab">
                <div class="certification">
                    <div class="certification-overview">
                        <section class="hk-sec-wrapper mt-3">
                            <!--                            <h5 class="hk-sec-title">Data Table</h5>-->
                            <!--                            <p class="mb-40">Add advanced interaction controls to HTML tables like <code>search, pagination & selectors</code>. For responsive table just add the <code>responsive: true</code> to your DataTables function. <a href="https://datatables.net/reference/option/" >View all options</a>.</p>-->
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
                                        <!--                                        <div class="table-responsive">-->
                                        <div id="datable_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="dataTables_length" id="datable_1_length"><label><select
                                                                name="datable_1_length" aria-controls="datable_1"
                                                                class="custom-select custom-select-sm form-control form-control-sm">
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="100">100</option>
                                                            </select>items</label></div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div id="datable_1_filter" class="dataTables_filter"><label><input
                                                                type="search" class="form-control form-control-sm"
                                                                placeholder="Search" aria-controls="datable_1"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="datable_1"
                                                        class="table table-hover w-100 display pb-30 table-bordered dataTable no-footer dtr-inline"
                                                        role="grid" aria-describedby="datable_1_info">
                                                        <thead>
                                                            <tr style="background-color: #132649; color: white;">
                                                                <th class="text-white">ID</th>
                                                                <th class="text-white">Certification ID</th>
                                                                <th class="text-white">Certificate Name</th>
                                                                <th class="text-white">Company</th>
                                                                <th class="text-white">Certificate Type</th>
                                                                <th class="text-white">Stating Date</th>
                                                                <th class="text-white">Ending Date</th>
                                                                <th class="text-white">Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>258963</td>
                                                                <td>Python Developer</td>
                                                                <td>Ramanasoft</td>
                                                                <td>Intern</td>
                                                                <td>01/2/2024</td>
                                                                <td>1/5/2024</td>
                                                                <td><span class="badge badge-success">Completed</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>252363</td>
                                                                <td>Full Stack Python Developer</td>
                                                                <td>IHUB</td>
                                                                <td>Course</td>
                                                                <td>01/2/2024</td>
                                                                <td>1/5/2024</td>
                                                                <td><span class="badge badge-success">Completed</span>
                                                                </td>
                                                            </tr>

                                                        </tbody>

                                                        <!--<tfoot>-->
                                                        <!--    <tr>-->
                                                        <!--        <th>Name</th>-->
                                                        <!--        <th>Position</th>-->
                                                        <!--        <th>Office</th>-->
                                                        <!--        <th>Age</th>-->
                                                        <!--        <th>Start date</th>-->
                                                        <!--        <th>Salary</th>-->
                                                        <!--    </tr>-->
                                                        <!--</tfoot>-->
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<!-- end card -->


</div>
<!-- /Row -->

<!--edit modal-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #132649;">
                <h5 class="modal-title text-white">Edit Profile</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm">
                        <form class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="col-md-6 mb-10">
                                    <label for="validationCustom01">First name</label>
                                    <input type="text" class="form-control" id="validationCustom01"
                                        placeholder="First name" value="Mark" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-10">
                                    <label for="validationCustom02">Last name</label>
                                    <input type="text" class="form-control" id="validationCustom02"
                                        placeholder="Last name" value="Otto" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-10">
                                    <label for="validationCustom03">Mobile_Number</label>
                                    <input type="text" class="form-control" id="validationCustom03"
                                        placeholder="Mobile_number" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid Mobile Number.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-10">
                                    <label for="validationCustom04">Email</label>
                                    <input type="text" class="form-control" id="validationCustom04" placeholder="Email"
                                        required>
                                    <div class="invalid-feedback">
                                        Please provide a valid Email.
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-10">
                                    <div class="form-group">
                                        <label for="validationCustom04">Education</label>
                                        <select class="form-control custom-select" required>

                                            <option value="">Open this select menu</option>
                                            <option value="1">SSC</option>
                                            <option value="2">Inter/Diplamo</option>
                                            <option value="3">B.Tech</option>
                                        </select>
                                        <div class="invalid-feedback">Example invalid custom select feedback</div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-10">
                                    <label for="validationCustom04">School/College</label>
                                    <input type="text" class="form-control" id="validationCustom0"
                                        placeholder="School/college" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid School/college.
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="form-check custom-control custom-checkbox">
                                    <input type="checkbox" class="form-check-input custom-control-input"
                                        id="invalidCheck" required>
                                    <label class="form-check-label custom-control-label" for="invalidCheck">
                                        Agree to terms and conditions
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                            <button class="btn" style="background-color: #132649; color: white;" type="submit">Submit
                                form</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}